/*All variables*/

/*google fonts*/
$heading-face:'Poppins',
sans-serif;
$text-face:'Nunito Sans',
sans-serif;

/*colors*/
$white-clr:#fff;
$black-clr:#000;
$warning-clr:#F0C53E;
$heading-span-clr:#7F2736;
$btn-clr:#B25A59;
$links-clr:#252641;
$transparent:#E5E5E5;
$text-clr:#464646;
$paragraph-clr:#2C2D32;
$card-overlay-clr:#7F2736;
$card-bg-clr:#CCE3EC;
$link-clr:#EE5060;
$card-icon-clr:#AF6C2C;
$card-review-clr: #80819A;


/*font sizes*/
$text-size:18px;
$heading-size:4vmin;
$banner-heading-size:5vmin;
$paagraph-size:16px;
$rating-text-size:12px;
$footer-heading-size:3vmin;